Repository openSUSE/dracut, pull requests merged in 2021-11, with the labels that each got.

#83 fix(iscsi): add support for the new iscsiadm "no-wait" (-W) command
  modules.d/95iscsi/iscsiroot.sh
  modules.d/95iscsi/module-setup.sh
Labels: modules, iscsi

#96 fix(90kernel-modules): add isp1760 USB controller
  modules.d/90kernel-modules/module-setup.sh
Labels: modules, kernel-modules

#98 network-legacy: fix route parsing issues in ifup (bsc#1182688)
  modules.d/35network-legacy/ifup.sh
Labels: modules, network-legacy

#99 fix(systemd-udevd): make collect optional (bsc#1177870)
  modules.d/95dasd_rules/module-setup.sh
  modules.d/95qeth_rules/module-setup.sh
  modules.d/95zfcp_rules/module-setup.sh
Labels: modules, dasd_rules, qeth_rules, zfcp_rules

#101 fix(mdraid): allow UUID comparison for more than one UUID (bsc#1192665)
  modules.d/90mdraid/mdraid_start.sh
Labels: modules, mdraid
