Repository openSUSE/dracut, pull requests merged in 2021-12, with the labels that each got.

#104 feat: ease decryption setup with TPM2 or FIDO2
  modules.d/90crypt/module-setup.sh
  modules.d/91fido2/module-setup.sh
  pkgbuild/dracut.spec
Labels: modules, crypt

#106 Fix zfcp boot
  modules.d/01fips/fips.sh
  modules.d/91zipl/parse-zipl.sh
  modules.d/95zfcp_rules/module-setup.sh
Labels: modules, fips, zfcp_rules, zipl

#107 fix(fips): missing value of _vmname variable (bsc#1193267)
  modules.d/01fips/fips.sh
Labels: modules, fips

#112 fix(url-lib): improve ca-bundle detection (bsc#1175892)
  modules.d/45url-lib/module-setup.sh
Labels: modules, url-lib

#116 fix(network-wicked): multiple path corrections
  modules.d/35network-wicked/module-setup.sh
Labels: modules

#115 fix(drm): add privacy screen modules to the initrd (bsc#1193590)
  modules.d/50drm/module-setup.sh
Labels: modules, drm
