Repository openSUSE/dracut, pull requests merged in 2022-12, with the labels that each got.

#237 feat(multipath): warn if included with no multipath devices and no user conf (bsc#1069169)
  modules.d/90multipath/module-setup.sh
Labels: modules, multipath

#239 fix(multipath): warn if included with no multipath devices and no user conf (bsc#1069169) (055)
  modules.d/90multipath/module-setup.sh
Labels: modules, multipath

#238 fix(multipath): warn if included with no multipath devices and no user conf (bsc#1069169) (SLE15-SP5:GA)
  modules.d/90multipath/module-setup.sh
Labels: modules, multipath

#241 feat(kernel-modules): exclude USB drivers in strict hostonly mode (bs…
  modules.d/90kernel-modules/module-setup.sh
Labels: modules, kernel-modules

#242 feat(kernel-modules): exclude USB drivers in strict hostonly mode (bs…
  modules.d/90kernel-modules/module-setup.sh
Labels: modules, kernel-modules

#243 feat(kernel-modules): exclude USB drivers in strict hostonly mode (bsc#1186056) (SLE15-SP5:GA)
  modules.d/90kernel-modules/module-setup.sh
Labels: modules, kernel-modules

#244 revert(fips): check for fipscheck in libexec (bsc#1206431)
  modules.d/01fips/fips.sh
  modules.d/01fips/module-setup.sh
Labels: modules, fips
