Repository openSUSE/dracut, pull requests merged in 2022-06, with the labels that each got.

#189 fix(convertfs): ignore commented lines in fstab (bsc#1200251)
  modules.d/30convertfs/convertfs.sh
Labels: modules, convertfs

#190 fix(convertfs): ignore commented lines in fstab (bsc#1200251) (056)
  modules.d/30convertfs/convertfs.sh
Labels: modules, convertfs

#193 fix(bluetooth): install firmware files from /lib (bsc#1200236) (055)
  modules.d/62bluetooth/module-setup.sh
Labels: modules

#191 fix(network-legacy): support rd.net.timeout.dhcp (bsc#1200360)
  modules.d/35network-legacy/ifup.sh
Labels: modules, network-legacy

#192 fix(network-legacy): support rd.net.timeout.dhcp (bsc#1200360) (056)
  modules.d/35network-legacy/ifup.sh
Labels: modules, network-legacy
