Repository openSUSE/dracut, pull requests merged in 2022-02, with the labels that each got.

#140 revert(lvm): remove 69-dm-lvm-metad.rules
  modules.d/90lvm/module-setup.sh
Labels: modules, lvm

#143 fix(dasd_rules): correct udev dasd rules parsing (bsc#1195309)
  modules.d/95dasd_rules/module-setup.sh
Labels: modules, dasd_rules

#137 fix(tpm2-tss): install SUSE specific files (bsc#1195984)
  modules.d/91tpm2-tss/module-setup.sh
Labels: modules

#145 fix(systemd-sysusers): use split systemd sysuser configs (bsc#1196223)
  modules.d/01systemd-coredump/module-setup.sh
  modules.d/01systemd-journald/module-setup.sh
  modules.d/01systemd-networkd/module-setup.sh
  modules.d/01systemd-resolved/module-setup.sh
  modules.d/01systemd-timesyncd/module-setup.sh
Labels: modules

#147 fix(iscsi): remove unneeded iscsi NOP-disable code
  modules.d/95iscsi/iscsiroot.sh
Labels: modules, iscsi
