Repository openSUSE/dracut, pull requests merged in 2022-03, with the labels that each got.

#148 fix(lvm): restore setting LVM_MD_PV_ACTIVATED
  modules.d/90lvm/64-lvm.rules
Labels: modules, lvm

#151 fix(systemd-sysusers): use split systemd sysuser configs (bsc#1196223) (SLE15-SP4:GA)
  modules.d/01systemd-coredump/module-setup.sh
  modules.d/01systemd-journald/module-setup.sh
  modules.d/01systemd-networkd/module-setup.sh
  modules.d/01systemd-resolved/module-setup.sh
  modules.d/01systemd-timesyncd/module-setup.sh
Labels: modules

#152 fix(multipath): align multipathd.service type with upstream (bsc#1196958) (SLE15-SP4:GA)
  modules.d/90multipath/multipathd.service
Labels: modules, multipath

#150 fix(multipath): align multipathd.service type with upstream (bsc#1196958)
  modules.d/90multipath/multipathd.service
Labels: modules, multipath

#153 fix(resume): only exclude this module when swap is netdev (bsc#1194915) (SLE15-SP4:GA)
  modules.d/95resume/module-setup.sh
Labels: modules, resume

#146 fix(resume): only exclude this module when swap is netdev (bsc#1192506)
  modules.d/95resume/module-setup.sh
Labels: modules, resume

#139 fix(bluetooth): make hostonly configuration files optional (bsc#1195047)
  modules.d/62bluetooth/module-setup.sh
Labels: modules

#141 fix(dracut-systemd): do not use Requires for vconsole-setup.service (bsc#1195508)
  modules.d/98dracut-systemd/dracut-cmdline-ask.service
Labels: modules, dracut-systemd
