Repository openSUSE/dracut, pull requests merged in 2022-04, with the labels that each got.

#159 feat(resume): sanity check (bsc#1197192)
  dracut-functions.sh
  modules.d/95resume/module-setup.sh
  suse/dracut.spec
Labels: modules, resume

#158 fix(crypt): remove quotes from cryptsetupopts (bsc#1197635)
  modules.d/90crypt/cryptroot-ask.sh
Labels: modules, crypt

#160 fix(bluetooth): make $dbussystem/bluetooth.conf optional (bsc#1195047)
  modules.d/62bluetooth/module-setup.sh
Labels: modules

#154 Repair POSIX compliance
  modules.d/35network-legacy/ifup.sh
  modules.d/45ifcfg/write-ifcfg-suse.sh
Labels: modules, network-legacy, ifcfg

#167 fix(resume): correct call to block_is_netdevice function (bsc#1197737) (055)
  modules.d/95resume/module-setup.sh
Labels: modules, resume

#168 fix(resume): correct call to block_is_netdevice function (bsc#1197737) (SLE15-SP4:GA)
  modules.d/95resume/module-setup.sh
Labels: modules, resume

#169 fix(lvm): add missing grep requirement (bsc#1198271)
  modules.d/90lvm/module-setup.sh
Labels: modules, lvm

#171 fix(resume): do not add this module if there is no suitable swap (bsc#1198095)
  modules.d/95resume/module-setup.sh
Labels: modules, resume

#172 fix(resume): do not add this module if there is no suitable swap (bsc#1198095) (055)
  modules.d/95resume/module-setup.sh
Labels: modules, resume

#175 fix(nfs): give /run/rpcbind ownership to rpc user (bsc#1177461) (055)
  modules.d/95nfs/nfs-start-rpc.sh
Labels: modules, nfs

#177 fix(nfs): /var is not mounted during the transactional-update run (bsc#1184970)
  modules.d/95nfs/module-setup.sh
Labels: modules, nfs

#178 fix(nfs): /var is not mounted during the transactional-update run (bsc#1184970) (055)
  modules.d/95nfs/module-setup.sh
Labels: modules, nfs

#180 fix(resume): relax exclusion check (bsc#1198554)
  modules.d/95resume/module-setup.sh
Labels: modules, resume

#181 fix(resume): relax exclusion check (bsc#1198554) (055)
  modules.d/95resume/module-setup.sh
Labels: modules, resume

#183 feat(resume): sanity check (SLE15-SP4:GA)
  dracut-functions.sh
  modules.d/95resume/module-setup.sh
  suse/dracut.spec
Labels: modules, resume

#184 feat(resume): sanity check (055)
  dracut-functions.sh
  modules.d/95resume/module-setup.sh
  suse/dracut.spec
Labels: modules, resume
