Repository openSUSE/dracut, pull requests merged in 2022-01, with the labels that each got.

#125 fix(network-legacy): add wicked as an alternative to arping (bsc#1193670)
  modules.d/35network-legacy/dhclient-script.sh
  modules.d/35network-legacy/ifup.sh
  modules.d/35network-legacy/module-setup.sh
  modules.d/40network/net-lib.sh
Labels: modules, network-legacy, network

#127 fix(network-legacy): installation fixes (bsc#1194879)
  modules.d/35network-legacy/module-setup.sh
Labels: modules, network-legacy

#126 fix(40network): consistent use of "$gw" for gateway
  modules.d/40network/net-lib.sh
Labels: modules, network

#118 Suse/055
  modules.d/90multipath/module-setup.sh
  modules.d/90multipath/multipathd-configure.service
  modules.d/90multipath/multipathd.service
Labels: modules, multipath

#129 Revert "fix(multipath): don't force-load SCSI device handlers"
  modules.d/90multipath/module-setup.sh
Labels: modules, multipath

#134 fix(kernel-modules-extra): handle zstd module extension
  modules.d/90kernel-modules-extra/module-setup.sh
Labels: modules, kernel-modules-extra

#135 fix(s390_rules): remove collect based udev rule creators
  modules.d/95dasd_rules/parse-dasd.sh
  modules.d/95zfcp_rules/parse-zfcp.sh
Labels: modules, dasd_rules, zfcp_rules

#131 fix(ifcfg): add SUSE specific write-ifcfg file (bsc#1193518)
  modules.d/45ifcfg/write-ifcfg-suse.sh
  suse/dracut.spec
Labels: modules, ifcfg
