Repository openSUSE/dracut, pull requests merged in 2023-10, with the labels that each got.

#286 Changes required for systemd-v254 (SLE15-SP6:GA)
  modules.d/00systemd/module-setup.sh
  modules.d/01systemd-tmpfiles/module-setup.sh
  suse/dracut.spec
Labels: modules, systemd

#291 fix(network): correct network device naming (bsc#1192986)
  modules.d/35network-legacy/module-setup.sh
  modules.d/35network-manager/module-setup.sh
  modules.d/95udev-rules/module-setup.sh
Labels: modules, network-legacy, network-manager, udev-rules

#294 Backport upstream fixes to 059
  dracut-initramfs-restore.sh
  dracut.sh
  modules.d/01systemd-repart/module-setup.sh
  modules.d/91pkcs11/module-setup.sh
  modules.d/98dracut-systemd/dracut-cmdline.sh
Labels: modules, dracut-systemd
